<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>hylin</mat-card-title>
    <mat-card-subtitle>hylin.com</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="/assets/img/photo.jpg">

  <mat-card-content>
    <p>这是一张测试图片</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary">LIKE</button>
    <button mat-button color="primary">DELETE</button>
    <div class="flex-spacer"></div>
    <button mat-icon-button>
      <mat-icon>publish</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
